doctype html
html
    head
        meta(charset='utf-8')
        title Главная
        link(href='css/index.css',rel='stylesheet')
        link(href='css/index_page.css',rel='stylesheet')
        link(href='css/profile.css',rel='stylesheet')
        link(href='css/menu.css',rel='stylesheet')
        link(href='css/animation.css',rel='stylesheet')
        link(href='css/index_page.css',rel='stylesheet')
        script(src='js/jquery.js')
        script(src='js/script.js')
    body
        div.menu.disabled
            div.close-icon
                div(data-click="menu")
            div.menu-element(data-menu="routes")
                p Маршруты
            div.menu-element(data-menu="people")
                p Люди
            div.menu-element(data-menu="logout")
                p Выйти
        div.profile
            div.menu-icon(data-click="menu")
                hr
                hr
                hr
            div.title
                h2 Профиль
            div.profile-info
                input(type='text',name='login',placeholder='Login',readonly,disabled,value=profile.login)
                input(type='text',name='name',placeholder='Name', value=profile.name)
                input(type='text',surname='surname',placeholder='Surname',value=profile.surname)
        div.routes.list
            div.head-list
                h2 Маршруты
            div.title-row
                div
                    p Name
                div
                    p Description
                div
                    p Max users
                div
                    p Status
                div
                    p Creator
                div
                    p Mountain height
                div
                    p Mountain name
            div.body-list
                if routes
                    each element in routes
                        div.body-list__element
                            div(title=element.name) #{element.name}
                            div(title=element.descript) #{element.descript}
                            div(title=element.max_users) #{element.max_users}
                            div(title=element.status) #{element.status}
                            div(title=element.creator) #{element.creator}
                            div(title=element.height) #{element.height}
                            div(title=element.country) #{element.country}